*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: red;
    padding: 15px;
}

body{
    background-color: rgb(243, 242, 240);
}

nav > div > ul > li{
    padding: 10px;
}
ul{
    width: 200px;
}
i{
    margin-right: 15px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

.block-info{
    padding: 20px;
    border-radius: 10px;
    margin: 2px;
}
.card > div > img{
    width: 50px;
    float: right;
    margin-top: 0px;
}
.card{
    box-shadow: 3px 2px 3px grey; ;
}
.card_cancelamento{
    background-color: #f9ca24;
}
.card_vendas{
    background-color:#e056fd ;
}
.card_contas_a_receber{
    background-color:#6ab04c ;
}
.card_contas_a_pagar{
    background-color: #eb4d4b;
}
.card-title , .card-subtitle{
    color: white;
    font-weight: bold;
}

/* dashboard financeiro */
.card_historico_financeiro > div{
    background-color: #be2edd;
    border-radius: 10px;
    margin-bottom: 5px;
}
